.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
.commitlintrc.yml
.gitignore
.prettierrc.yml
.releaserc.yml
.travis.yml
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
*.code-workspace
*.log
node_modules
!node_modules/uuid
!node_modules/verror
!node_modules/assert-plus
!node_modules/extsprintf
!node_modules/core-util-is
package-lock.json
yarn.lock
