.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
.commitlintrc.yml
.gitignore
.prettierrc.yml
.releaserc.yml
.travis.yml
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
*.code-workspace
*.log
package-lock.json
yarn.lock
